<h1><center><font color='Blue'>DSO106 MachineLearn L3 - Hands On - Helper</font></center></h1>

<h4><center><font color='Blue'>By Matthew Gerardino</font></center></h4>

<h4><center>This Notebook is meant to help you understand the fundamental concepts needed to complete your Lesson 3 Hands On</center></h4>

***

<img src="https://emojipedia-us.s3.amazonaws.com/source/skype/289/penguin_1f427.png" align="left" style="width:100px;height:120px;"> <img src="https://emojipedia-us.s3.amazonaws.com/source/skype/289/penguin_1f427.png" align="right" style="width:100px;height:120px;"><h1><center>Create a decision tree model of the ~~Titanic~~ <span style='background :yellow' >Penguins</span> dataset that predicts flipper length.</center></h1>

***
## Load in data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
penguins = sns.load_dataset('penguins')

In [3]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

# Data Wrangling

In [4]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

### Drop the missing data

In [5]:
penguins.dropna(inplace = True)
penguins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    object
 1   island             333 non-null    object
 2   bill_length_mm     333 non-null    float64
 3   bill_depth_mm      333 non-null    float64
 4   flipper_length_mm  333 non-null    float64
 5   body_mass_g        333 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 20.8+ KB

### Drop unneeded variables

In [6]:
penguins.drop(['island'], axis = 1, inplace = True)
penguins.head()

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,39.1,18.7,181.0,3750.0,Male
1,Adelie,39.5,17.4,186.0,3800.0,Female
2,Adelie,40.3,18.0,195.0,3250.0,Female
4,Adelie,36.7,19.3,193.0,3450.0,Female
5,Adelie,39.3,20.6,190.0,3650.0,Male

## Convert everything to numeric

In [7]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 343
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    object
 1   bill_length_mm     333 non-null    float64
 2   bill_depth_mm      333 non-null    float64
 3   flipper_length_mm  333 non-null    float64
 4   body_mass_g        333 non-null    float64
 5   sex                333 non-null    object
dtypes: float64(4), object(2)
memory usage: 18.2+ KB

## Recode strings

In [8]:
penguins.species.value_counts()

Adelie       146
Gentoo       119
Chinstrap     68
Name: species, dtype: int64

In [9]:
def Species (series):
    if series == 'Adelie':
        return 0
    if series == 'Gentoo':
        return 1
    if series == 'Chinstrap':
        return 2


penguins['speciesR'] = penguins['species'].apply(Species)
penguins.drop('species', axis = 1, inplace = True)
penguins.speciesR = penguins.speciesR.astype(int)

In [10]:
penguins.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,speciesR
0,39.1,18.7,181.0,3750.0,Male,0
1,39.5,17.4,186.0,3800.0,Female,0
2,40.3,18.0,195.0,3250.0,Female,0
4,36.7,19.3,193.0,3450.0,Female,0
5,39.3,20.6,190.0,3650.0,Male,0

In [11]:
penguins.sex.value_counts()

Male      168
Female    165
Name: sex, dtype: int64

In [12]:
def Sex (series):
    if series == 'Male':
        return 0
    if series == 'Female':
        return 1
    
penguins['sexR'] = penguins['sex'].apply(Sex)
penguins.drop('sex', axis = 1, inplace = True)
penguins.sexR = penguins.sexR.astype(int)

In [13]:
penguins.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,speciesR,sexR
0,39.1,18.7,181.0,3750.0,0,0
1,39.5,17.4,186.0,3800.0,0,1
2,40.3,18.0,195.0,3250.0,0,1
4,36.7,19.3,193.0,3450.0,0,1
5,39.3,20.6,190.0,3650.0,0,0

# Define x and y

In [14]:
y = penguins.flipper_length_mm
y.head()

0    181.0
1    186.0
2    195.0
4    193.0
5    190.0
Name: flipper_length_mm, dtype: float64

In [15]:
x = penguins.drop('flipper_length_mm', axis = 1)
x.head()

   bill_length_mm  bill_depth_mm  body_mass_g  speciesR  sexR
0            39.1           18.7       3750.0         0     0
1            39.5           17.4       3800.0         0     1
2            40.3           18.0       3250.0         0     1
4            36.7           19.3       3450.0         0     1
5            39.3           20.6       3650.0         0     0

## Train Test Split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 76)

# Decision Tree Time

In [17]:
decisionTree = DecisionTreeClassifier(random_state = 76)
decisionTree.fit(x_train, y_train)

DecisionTreeClassifier(random_state=76)

# Random Forest Time

In [18]:
forest = RandomForestClassifier(n_estimators = 500, random_state = 76)
forest.fit(x_train, y_train)

RandomForestClassifier(n_estimators=500, random_state=76)