# DSO104 Lesson 4
## Displaying Quantitative Data
Matthew Gerardino

In [3]:
#imports
import pandas as pd
import numpy as np
from bqplot import pyplot as plt
import ipywidgets as widgets

In [4]:
#read in data set
df=pd.read_csv("../Data/HR_data.csv")
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
#Setting line spacing and calling column of intrest (satisfaction_level)
x = np.linspace(0.0, 100.0)
y = df["satisfaction_level"]

In [6]:
# create a bqplot figure
fig_hist = plt.figure(title="Employee Satisfaction Level")
hist = plt.hist(y, bins=5)
fig_hist

Figure(axes=[Axis(orientation='vertical', scale=LinearScale()), Axis(scale=LinearScale())], fig_margin={'top':â€¦

In [7]:
# connecting my slider with my widget
import ipyvuetify as v
slider = v.Slider(thumb_label='always', class_="px-4", v_model=5)
widgets.link((slider, 'v_model'), (hist, 'bins'))
slider

Slider(class_='px-4', thumb_label='always', v_model=5)