## A look at VARIABLES in R

### Nolan Hardeman

A variable can be really any order of letters and numbers. It becomes a 'variable' whenever you assign it value. 

Take this example:

You have a blank script, an empty sheet, or cell. What variables do you have? __None__

Now in your script/cell enter these variables: x = 3, y = 4, z = -2, firstName = "your first name" (_IMPORTANT: Do not forget to include quotations around your string data._), lastName = "your last name"

In [1]:
x = 9
y = 4
z = -3
firstName = "Bob"
lastName = "Hope"

#### _It is worth stopping and taking a second to think about this: Until we ran the above cell the letters x, y, z and the letters comprising firstName and lastName did not hold any value. They were of no consequence to the script. That is until we made them VARIABLES._

As algebra and logic hold, variables are like any regular number and we can preform most manipulative operations (addition, subtraction, multiplication, etc.) on them, providing the data types match. __i.e.: you cannot add numeric data to string data.__ There is no solution, nor logic where a path to understanding x + firstName makes any sense. Try to solve 3 + Bob

#### Keeping this in mind, let's perform several of these operations

In [2]:
## What is the fullName?

We can combine firstName and lastName with the paste function, like such:

In [3]:
paste(firstName, lastName)

[1] "Bob Hope"

In [4]:
## Find the sum, difference of xz and y, and product of x * y * z. Find the quotient of xy/z.

In [5]:
# sum
x + y + z

[1] 10

In [6]:
# difference of xz and y
(x * z) - y

[1] -31

In [7]:
# product of x, y, and z
x * y * z

[1] -108

In [8]:
# quotient of xy and z
(x * y) / z

[1] -12

### Taking a quick glace at arithmetic in R

In [9]:
# Example for R Arithmetic Operators
a <- 29
b <- 13
add <- a + b
sub = a - b
multi = a * b
division = a / b
Integer_Division = a %/% b
exponent = a ^ b
modulus = a %% b

print(paste("Addition of two numbers 29 and 13 is : ", add))
print(paste("Subtracting Number 29 from 13 is : ", sub))
print(paste("Multiplication of two numbers 29 and 13 is : ", multi))
print(paste("Division of two numbers 29 and 13 is : ", division))
print(paste("Integer Division of two numbers 29 and 13 is : ", Integer_Division))
print(paste("Exponent of two numbers 29 and 13 is : ", exponent))
print(paste("Modulus of two numbers 29 and 13 is : ", modulus))

[1] "Addition of two numbers 29 and 13 is :  42"
[1] "Subtracting Number 29 from 13 is :  16"
[1] "Multiplication of two numbers 29 and 13 is :  377"
[1] "Division of two numbers 29 and 13 is :  2.23076923076923"
[1] "Integer Division of two numbers 29 and 13 is :  2"
[1] "Exponent of two numbers 29 and 13 is :  10260628712958601216"
[1] "Modulus of two numbers 29 and 13 is :  3"

In [10]:
# R sum function

sum(1:11)

sum(c(2,5,6,7,1,6,9,17))

[1] 66

[1] 53

In [11]:
# sum() function in R for input vector which has NA.

x = c(1.234,2.342,-4.562,5.671,12.345,-14.567,17.874,-19.032,NA)

sum(x,na.rm=TRUE)

[1] 1.305

[Reference](https://www.datasciencemadesimple.com/sum-function-in-r/#:~:text=%20Sum%20Function%20in%20R%20%E2%80%93%20sum%20%28%29,in%20R%20using%20sum%20%28%29%20function%20More%20)

### Time to take a look at functions!

What is a function? 

__A mathematical function is a rule that gives value of a dependent variable that corresponds to specified values of one or more independent variables. A function can be represented in several ways, such as by a table, a formula, or a graph.__ [Reference](https://www.sciencedirect.com/topics/mathematics/mathematical-function)

Recall, the volume of a sphere can be represented mathematically by the formula: $$V = 4/3 * pi * r^{3}$$
Where r is the radius of the sphere.

We say that Volume is a function of the Radius.

Suppose we have several spheres with their respective radii marked on the outside and our employer wants to know the volume of every sphere, the average volume, the average radius, the largest volume, and the mode of the volumes.

_Sphere 1 has a radius of 12 cm._

_Sphere 2 has a radius of 17 cm._

_Sphere 3 has a radius of 14.5 cm._

_Sphere 4 has a radius of 12 cm._

_Sphere 5 has a radius of 9 cm._

_Sphere 6 has a radius of 10 cm._

_Sphere 7 has a radius of 19.25 cm._

_Sphere 8 has a radius of 13 cm._

_Sphere 9 has a radius of 16 cm._

_Sphere 10 has a radius of 15.25 cm._

In [12]:
# Sphere 1 Volume
Volume1 = 4/3 * pi * (12)^(3) 
print(Volume1)

[1] 7238.229

In [13]:
# Sphere 2 Volume
Volume2 = 4/3 * pi * (17)^(3) 
print(Volume2)

[1] 20579.53

In [14]:
# Sphere 3 Volume
Volume3 = 4/3 * pi * (14.5)^(3) 
print(Volume3)

[1] 12770.05

In [15]:
# Sphere 4 Volume
Volume4 = 4/3 * pi * (12)^(3) 
print(Volume4)

[1] 7238.229

In [16]:
# Sphere 5 Volume
Volume5 = 4/3 * pi * (9)^(3) 
print(Volume5)

[1] 3053.628

In [17]:
# Sphere 6 Volume
Volume6 = 4/3 * pi * (10)^(3) 
print(Volume6)

[1] 4188.79

In [18]:
# Sphere 7 Volume
Volume7 = 4/3 * pi * (19.25)^(3) 
print(Volume7)

[1] 29880.01

In [19]:
# Sphere 8 Volume
Volume8 = 4/3 * pi * (13)^(3) 
print(Volume8)

[1] 9202.772

In [20]:
# Sphere 9 Volume
Volume9 = 4/3 * pi * (16)^(3) 
print(Volume9)

[1] 17157.28

In [21]:
# Sphere 10 Volume
Volume10 = 4/3 * pi * (15.25)^(3) 
print(Volume10)

[1] 14855.87

### __Whew! That sure was tedious, even with the magic of copy and paste. There must be an easier, more efficient way of inserting our radii into this function we have predefined.__

R has a spell for that: for loops are the answer!

#### quick reminder of our function
$$V = 4/3 * pi * r^{3}$$
#### time to make it an actual function within R using our tools, ironically called: functions

In [22]:
## call it vol short for volume
vol = function(r){4/3 * pi * (r)^(3)}

##### This line of code takes the letters 'vol' and makes them into a function with the __function()__ function, containing 1 argument of r, representing __radius__. Inside the squiggly brackets is our actual mathematical calculation to find a specific volume, given its radius

Next, make a vector containing all the different radii

In [23]:
radii = c(12, 17, 14.5, 12, 9, 10, 19.25, 13, 16, 15.25)

Finally you set end execute our for loop.

A __for loop__ is a way of running the same function multiple times with a list of inputs that the __for loop__ _iterates, or loops_ through until completing the task or meeting a predetermined threshold

In [24]:
## we can just loop our radii entries through the vol function we created and get the respective volumes
for (r in radii){
  print(vol(r))
}

[1] 7238.229
[1] 20579.53
[1] 12770.05
[1] 7238.229
[1] 3053.628
[1] 4188.79
[1] 29880.01
[1] 9202.772
[1] 17157.28
[1] 14855.87

The above method is nice when it is just you, and you have a small list of values you are working with. If you were working in a team or perhaps quickly showing off your work to superiors, you provide context by including the original radius and some string data explaining the result.

In [33]:
for (r in radii){
  d = vol(r)
  cat("A sphere with a radius of ", r, " centimeters has a volume of ", d, " centimeters\n")
}
## the \n is to place each new output on a new line

A sphere with a radius of  12  centimeters has a volume of  7238.229  centimeters
A sphere with a radius of  17  centimeters has a volume of  20579.53  centimeters
A sphere with a radius of  14.5  centimeters has a volume of  12770.05  centimeters
A sphere with a radius of  12  centimeters has a volume of  7238.229  centimeters
A sphere with a radius of  9  centimeters has a volume of  3053.628  centimeters
A sphere with a radius of  10  centimeters has a volume of  4188.79  centimeters
A sphere with a radius of  19.25  centimeters has a volume of  29880.01  centimeters
A sphere with a radius of  13  centimeters has a volume of  9202.772  centimeters
A sphere with a radius of  16  centimeters has a volume of  17157.28  centimeters
A sphere with a radius of  15.25  centimeters has a volume of  14855.87  centimeters

### But, what if...

Suppose, you only cared the volumes of specific radii. Maybe your employer only wishes to know the volume if the radius is less than 15 cm, or perhaps, you are just asked to give the radii for volumes under 10,000 cm.

In [34]:
## the volumes of the radii less than 15
for (r in radii){
  d =vol(r)
if (r < 15){cat("A radius of ", r, " gives a sphere volume of ", d, " \n")}}

A radius of  12  gives a sphere volume of  7238.229
A radius of  14.5  gives a sphere volume of  12770.05
A radius of  12  gives a sphere volume of  7238.229
A radius of  9  gives a sphere volume of  3053.628
A radius of  10  gives a sphere volume of  4188.79
A radius of  13  gives a sphere volume of  9202.772

In [35]:
## the raddii of the volumes under 10,000
for (r in radii){
  d =vol(r)
if (d < 10000){print(r)}}

[1] 12
[1] 12
[1] 9
[1] 10
[1] 13

In [1]:
print("Are you not entertained?")

[1] "Are you not entertained?"